@font-face {
  font-family: 'iconfont';
  /* project id 800739 */
  src: url('//at.alicdn.com/t/font_800739_ox2ahtjbtb.eot');
  src: url('//at.alicdn.com/t/font_800739_ox2ahtjbtb.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_800739_ox2ahtjbtb.woff') format('woff'), url('//at.alicdn.com/t/font_800739_ox2ahtjbtb.ttf') format('truetype'), url('//at.alicdn.com/t/font_800739_ox2ahtjbtb.svg#iconfont') format('svg');
}
